@import 'node_modules/bootstrap/scss/bootstrap';

body {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 255, 255);
}

header {
  /* so cmd-r's little fingers can hang over the edge of the page a little */
  position: relative;
  bottom: -8px;
  z-index: 1;
}

.rounded-corners-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-corners-bottom {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#idg-img {
  background: url("/static/udevgames_logo.png") no-repeat;
  height: 85px;
  width: 357px;
}

footer {
  text-align: center;
}
