{% extends "layout" %}
{% block content %}
<div class="row">
  <h1>Edit jam</h1>
</div>
<div class="row">
  <div class="col">
    <form>
      <div class="mb-3">
        <label for="jam-title" class="form-label">Title</label>
        <input type="text" class="form-control" id="jam-title" aria-describedby="jam-title-help" value="{{ jam.title }}"/>
        <div id="jam-title-help" class="form-text">The title of this Game Jam.</div>
      </div>
    </form>
  </div>
</div>
{% endblock %}