<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/app.css"/>

    <title>{% if title %}{{ title }} - {% endif %}uDevGames</title>
  </head>
  <body>
    {% block skeleton_content %}
    {% endblock %}

    <script src="/static/vendor.js"></script>
    <script src="/static/app.js"></script>
    <script>require('initialize');</script>
  </body>
</html>